support-docs/MIDAS-Holiday-XML-schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:i="http://www.w3.org/2001/XMLSchema-instance" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MIDAS_Api.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ArrayOfHolidayData">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="HolidayData">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="DateOfHoliday" type="xs:dateTime" minOccurs="1" nillable="false" maxOccurs="1"/>
              <xs:element name="EnergyCode" type="xs:string" minOccurs="1" nillable="false" maxOccurs="1"/>
              <xs:element name="EnergyDescription" type="xs:string" minOccurs="1" nillable="false" maxOccurs="1"/>
              <xs:element name="HolidayDescription" type="xs:string" minOccurs="1" nillable="true" maxOccurs="1"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>